<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="jumbotron">
				<div class="row">
					<div class="col-12">
						<h1 class="card-title text-center">What can coaching do for you?</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3 class="text-center ">Based on <strong>YOUR</strong> values and strengths, coaching can help <strong>YOU</strong> define:</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="achieve">
					<div class="col-12">
						<h4 class="text-center sub-header mt-6">What you want to <strong>ACHIEVE</strong></h4>
					</div>
					<div class="col-12">
						<p class="card-text text-center">
							<span class="line"><i class="fa fa-play"></i>Your <span class="link-1" (click)="popup(1)">values</span> should determine your goals, not the other way around.</span>
							<br>
							<span class="line"><i class="fa fa-play"></i>Don’t fall into the comparison trap, which measures against outside
								definitions of success. You decide what success means for you.</span>
							<br>
							<span class="line"><i class="fa fa-play"></i>Set goals so ambitious you need help to reach them!</span>
							<br>
						</p>
					</div>
				</div>
			</div>
			<div class="grow">
				<h4 class="text-center sub-header">How you wish to <strong>GROW</strong></h4>
				<p class="card-text text-center">
					<span class="line"><i class="fa fa-play"></i>Who are you, and who do you want to become?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>How do you build upon your natural <span class="link-2" (click)="popup(2)">strengths</span> to achieve your goals?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>Build an awareness of blind spots that could undermine your efforts.</span>
					<br>
				</p>
			</div>
			<div class="enjoy">
				<h4 class="text-center sub-header">The harmony to <strong>ENJOY</strong> the journey</h4>
				<p class="card-text text-center">
					<span class="line"><i class="fa fa-play"></i>Are you making room for the things that recharge your battery?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>What are you passionate about? Are you doing it?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>How do you <span class="link-3" (click)="popup(3)">harmonize</span> all the things that are important to you?</span>
					<br>
				</p>
			</div>
			<div class="jumbotron text-center mt-3">
				<h1 class="card-title text-center">I want to begin my Ascent. What’s the next step?</h1>
				<h3 class="text-center font-italic">They say a journey of a thousand miles begins with a footstep. In this case, it’s a conversation.</h3>
				<button class="btn btn-primary btn-large text-center mt-5" routerLink="/contact">START THE CONVERSATION</button>
			</div>
		</div>
	</div>
</div>
