<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="jumbotron">
				<img class="img-responsive center" src="../assets/sc_logo.png">
			</div>
			<div class="row">
				<div class="achieve">
					<div class="col-12">
						<h4 class="text-center sub-header mt-5">Coaching is based on Clifton StrengthsFinder Survey</h4>
					</div>
					<div class="col-12">
						<h4 class="text-center sub-header mt-2">How did StrengthsFinder originate?</h4>
					</div>
					<p class="card-text text-center">
						<span class="line">Donald Clifton discovered that only modest incremental imporvement can be achieved by "working on" your weaknesses</span>
						<br>
						<span class="line">He also found that geometric improvement can be attained by focusing on and developing your strengths</span>
						<br>
						<span class="line">Strength = Talent + Development</span>
						<br>
					</p>
				</div>
			</div>
			<div class="grow">
				<div class="col-12">
					<h4 class="text-center sub-header pt-5">Initial Review of Your 34 Talents (5 sessions)</h4>
				</div>
				<p class="card-text text-center">
					<span class="line">Develop and understanding of your natural talents - Are they raw, or have they been developed into strengths?</span><br>
					<span class="line">Understand your lesser talents - Are they holding you back?</span>
					<br>
				</p>
			</div>
			<div class="enjoy">
				<h4 class="text-center sub-header pt-5">Development of Talents (6-12 sessions)</h4>
				<p class="card-text text-center">
					<span class="line">Learn to develop and leverage your top talents</span>
					<br>
					<span class="line">Learn to manage lesser talents by using your strengths</span>
					<br>
				</p>
			</div>
			<div class="jumbotron text-center mt-3">
				<h1 class="card-title text-center">I want to begin my Ascent. What’s the next step?</h1>
				<h3 class="text-center font-italic">They say a journey of a thousand miles begins with a footstep. In this case, it’s a conversation.</h3>
				<button class="btn btn-primary btn-large text-center mt-5" routerLink="/contact">START THE CONVERSATION</button>
			</div>
		</div>
	</div>
</div>
