.container-fluid {
	margin-top: 56px;
}

.jumbotron {
	margin-bottom: 0;
	font-family: palatino;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.sub-header {
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 10vh;
	font-size: 3em;
	font-family: palatino;
}

.card-text {
	font-size: 1.5em;
	color: white;
	font-family: palatino;
}

i {
	margin:10px;
}


.line {
	margin-top: 40px;
	font-family: palatino;
}

.achieve {
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('/assets/background-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 50vh;
	margin-top:30px;
	padding-bottom: 30px;
}

.grow {
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('/assets/background-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 50vh;
	margin-top:30px;
	padding-bottom: 30px;
}

.enjoy {
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('/assets/background-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 50vh;
	margin-top:30px;
	padding-bottom: 30px;
}

.jumbotron{
	text-align:center;
	img {
		min-width: 100%;
		max-width: 100%;
	}
}