<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="jumbotron">
				<img class="img-responsive center" src="../assets/sc_logo.png">
			</div>
			<div class="row">
				<div class="achieve">
					<div class="col-12">
						<h4 class="text-center sub-header mt-5">Coaching is based on Clifton StrengthsFinder Survey</h4>
					</div>
					<div class="col-12">
						<h4 class="text-center sub-header mt-2">How did StrengthsFinder originate?</h4>
					</div>
					<div class="col-12">
						<p class="card-text text-center">
							<span class="line"><i class="fa fa-play"></i>Donald Clifton discovered that only modest incremental imporvement can be achieved by "working on" your weaknesses</span>
							<br>
							<span class="line"><i class="fa fa-play"></i>He also found that geometric improvement can be attained by focusing on and developing your strengths</span>
							<br>
							<span class="line"><i class="fa fa-play"></i>Strength = Talent + Development</span>
							<br>
						</p>
					</div>
				</div>
			</div>
			<div class="grow">
				<h4 class="text-center sub-header">How you wish to <strong>GROW</strong></h4>
				<p class="card-text text-center">
					<span class="line"><i class="fa fa-play"></i>Who are you, and who do you want to become?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>How do you build upon your natural <span class="link-2" (click)="popup(2)">strengths</span> to achieve your goals?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>Build an awareness of blind spots that could undermine your efforts.</span>
					<br>
				</p>
			</div>
			<div class="enjoy">
				<h4 class="text-center sub-header">The harmony to <strong>ENJOY</strong> the journey</h4>
				<p class="card-text text-center">
					<span class="line"><i class="fa fa-play"></i>Are you making room for the things that recharge your battery?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>What are you passionate about? Are you doing it?</span>
					<br>
					<span class="line"><i class="fa fa-play"></i>How do you <span class="link-3" (click)="popup(3)">harmonize</span> all the things that are important to you?</span>
					<br>
				</p>
			</div>
			<div class="jumbotron text-center mt-3">
				<h1 class="card-title text-center">I want to begin my Ascent. What’s the next step?</h1>
				<h3 class="text-center font-italic">They say a journey of a thousand miles begins with a footstep. In this case, it’s a conversation.</h3>
				<button class="btn btn-primary btn-large text-center mt-5" routerLink="/contact">START THE CONVERSATION</button>
			</div>
		</div>
	</div>
</div>
