.container-fluid {
	margin-top: 56px;
	padding-top: 25px;
}

.portrait {
	margin-left: 2.5rem;
	width: 30%;
	height: auto;
}

.card-body {
	padding: 2.5rem;
}

.card {
	margin-top: 2vh;
	// margin-bottom: 2vh;
}

.card-text {
	font-family: palatino;
}

.content {
	margin-bottom:0;
}
