<div class="carousel">
	<app-carousel></app-carousel>
</div>
<div class="container-fluid">
	<div class="services">
		<div class="row">
			<div class="col-lg-6 col-md-6 mb-lg-4 mt-4">
				<div class="card card-1" routerLink="/method">
					<div class="row">
						<div class="col-12 mt-4 text text-center">
							<p class="header-about">What can coaching do for you?</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 mb-lg-4 mt-4">
				<div class="card card-2" routerLink="/org">
					<div class="row">
						<div class="col-12 mt-4 text">
							<p class="header-about">Coaching for my organization?</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about jumbotron">
		<div class="row hover" routerLink="/about">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<img class="img-responsive" src="../assets/headshot-1.jpg">
			</div>
			<div class="col-md-9 col-sm-6 col-xs-14">
				<p class="header-about">About Me</p>
				<p class="body-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Augue eget arcu dictum varius duis at consectetur lorem. Dictum varius duis at consectetur lorem donec massa. In fermentum posuere urna nec tincidunt praesent semper. Enim blandit volutpat maecenas volutpat blandit. Tristique magna sit amet purus gravida quis blandit turpis cursus. Habitant morbi tristique senectus et netus. Varius quam quisque id diam vel quam elementum pulvinar. Erat velit scelerisque in dictum.</p>
			</div>
		</div>
	</div>
</div>
