<div class="carousel">
	<app-carousel></app-carousel>
</div>
<div class="container-fluid">
	<div class="services">
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-2 mt-2">
				<div class="card card-1" routerLink="/services">
					<div class="row">
						<div class="col-6 text text-center">
							<h5>Career Coaching</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
						<div class="col-6 hover icon text-center">
							<i class="fa fa-graduation-cap fa-10x"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-2 mt-2">
				<div class="card card-3" routerLink="/services">
					<div class="row">
						<div class="col-6 text">
							<h5>Financial Advising</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
						<div class="col-6 hover icon text-center">
							<i class="fa fa-money fa-10x"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-2 mt-2">
				<div class="card card-2" routerLink="/services">
					<div class="row">
						<div class="col-6 text text-center">
							<h5>Leadership Training</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
						<div class="col-6 hover icon text-center">
							<i class="fa fa-users fa-10x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about jumbotron">
		<div class="row hover" routerLink="/about">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<img class="img-responsive" src="../assets/headshot-1.jpg">
			</div>
			<div class="col-md-9 col-sm-6 col-xs-14">
				<p class="header-about">About Me</p>
				<p class="body-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Augue eget arcu dictum varius duis at consectetur lorem. Dictum varius duis at consectetur lorem donec massa. In fermentum posuere urna nec tincidunt praesent semper. Enim blandit volutpat maecenas volutpat blandit. Tristique magna sit amet purus gravida quis blandit turpis cursus. Habitant morbi tristique senectus et netus. Varius quam quisque id diam vel quam elementum pulvinar. Erat velit scelerisque in dictum.</p>
			</div>
		</div>
	</div>
</div>
