<div class="carousel">
	<app-carousel></app-carousel>
</div>
<div class="container-fluid">
	<div class="services">
		<div class="row">
			<div class="col-lg-6 col-md-6 mb-lg-4 mt-4">
				<div class="card card-1" routerLink="/method">
					<div class="row">
						<div class="col-12 mt-5 text text-center">
							<p class="header-about">What can coaching do for you?</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 mb-lg-4 mt-4">
				<div class="card card-2" routerLink="/org">
					<div class="row">
						<div class="col-12 mt-5 text">
							<p class="header-about">Coaching for my organization?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about jumbotron">
		<div class="row hover" routerLink="/about">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img class="img-responsive" src="../assets/headshot-1.jpg">
			</div>
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p class="header-about mt-3">About Me</p>
				<p class="body-about">I want to help people understand their potential.</p>
				<p class="body-about">And achieve it.</p>
			</div>
		</div>
	</div>
</div>
