.container-fluid {
	margin-top: 56px;
	padding-top: 25px;
}
.card {
	// margin-top: 5%;
	min-height: 90vh;
	// margin-bottom: 2%;
}

.card-title {
	font-family: palatino;
}
.form-group {
	font-family: palatino;
}
.submit {
	text-align: center;
	font-family: palatino;
}
@media only screen and (min-width: 576px) {
	.social {
		position: absolute;
		bottom: 0;
	}
}
