<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="jumbotron">
				<div class="row">
					<div class="col-12">
						<h1 class="card-title text-center">Should I introduce coaching to my organization?</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3 class="text-center ">As a senior leader in your organization:</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="achieve jumbotron">
					<div class="col-12">
						<h4 class="text-center sub-header mt-6">Do you want your leaders to <strong>ACHIEVE</strong>? <br>Do you believe this will translate to improved performance?</h4>
					</div>
				</div>
			</div>
			<div class="grow jumbotron">
				<h4 class="text-center sub-header">Do you encourage your employees to <strong>GROW</strong>?<br> Will this enable them to fill more senior leadership roles in the future? </h4>
			</div>
			<div class="enjoy jumbotron">
				<h4 class="text-center sub-header">Does your culture strive to allow your employees to <strong>ENJOY</strong> the journey?<br> Can this be a valuable tool to improve retention and engagement?</h4>
			</div>
			<div class="jumbotron text-center mt-3">
				<h1 class="card-title text-center">Most of us have seen the impact great leadership can have. Unforuntately, many of us have also witnessed the impact of ineffective leaders.</h1>
				<h3 class="text-center font-italic">We’ve seen that even poor leadership can generate results in the short term, but often at great long-term cost.</h3>
				<button class="btn btn-primary btn-large text-center mt-5" routerLink="/contact">GET GREAT LEADERSHIP</button>
			</div>
		</div>
	</div>
</div>
