<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="jumbotron">
				<div class="row">
					<div class="col-12">
						<h1 class="card-title text-center">Should I introduce coaching to my organization?</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="achieve jumbotron">
					<div class="col-12">
						<h4 class="text-center sub-header mt-6">According to a Gallup poll, only 1 in 3 U.S. employees is fully engaged at work.<br>
							Strength based coaching for your teams and your managers can help unlock their talents, resulting in higher levels of engagement and productivity.<br>
							What can you <strong>ACHIEVE</strong> if your employees are fully engaged?
						</h4>
					</div>
				</div>
			</div>
			<div class="grow jumbotron">
				<h4 class="text-center sub-header">Focus on individual strengths when designing development plans for your employees.<br>
					The best bet for significant <strong>GROWTH</strong> is by focusing on strengths.
				</h4>
			</div>
			<div class="enjoy jumbotron">
				<h4 class="text-center sub-header">Striving towards goals for personal and professional growth shouldn’t feel like a chore.<br>
					Aligning the goals of your organization, managers, and team members, considering their unique skills, will help everyone <strong>ENJOY</strong> the journey.</h4>
			</div>
			<div class="jumbotron text-center mt-3">
				<h1 class="card-title text-center">Most of us have seen the impact great leadership can have. Unforuntately, many of us have also witnessed the impact of ineffective leaders.</h1>
				<h3 class="text-center font-italic">We’ve seen that even poor leadership can generate results in the short term, but often at great long-term cost.</h3>
				<button class="btn btn-primary btn-large text-center mt-5" routerLink="/contact">GET GREAT LEADERSHIP</button>
			</div>
		</div>
	</div>
</div>
