<div class="container-fluid">
	<div class="card">
		<div class="card-title">
			<h1 class="text-center mt-5">Who Do I Coach?</h1>
		</div>
		<div class="card-body">
			<img class="portrait img-responsive float-left" src="../assets/who.jpg">
			<p class="card-text">
				People tend to need coaching either when they’re in transition or when they are stuck.
			</p>
			<p class="card-text">
				Regardless of your business or profession, if what you’ve read resonates with you, please contact me – I’d be glad to discuss it with no cost or obligation on your part.  If I’m not the right coach for you, I may be able to help you connect with someone who is.
			</p>
			<p class="card-text">
				Based on my background, I particularly focus on:
			</p>
			<p class="card-text">
				Emerging leaders transitioning from individual contributor roles into leadership roles to help them understand the different skills required to lead.  If your organization wants to improve retention, engagement and productivity, consider coaching for your emerging leaders.
			</p>
			<p class="card-text">
				Accounting and Finance leaders looking to build diverse team with complementary skills and strengths.
			</p>
			<p class="card-text">
				Leaders of small but growing businesses who need to transition from “I do everything” to building a team they can leverage while maintaining a sense of confidence and control.
			</p>
		</div>
	</div>
</div>
