.container-fluid {
	margin-top: 56px;
	padding-top: 25px;
}

.portrait {
	margin-right: 2.5rem;
	width: 50%;
	height: auto;
}

.card-body {
	padding: 2.5rem;
}

.card {
	margin-top: 2vh;
	min-height: 90vh;
	// margin-bottom: 2vh;
}

.card-text {
	font-family: palatino;
}

.content {
	margin-bottom:0;
}

h1 {
	font-family: palatino;
}
