<div class="container-fluid">
	<div class="card">
		<img class="jumbo" src="../assets/about-header.jpg">
		<div class="card-body">
			<div class="card-body">
				<h1 class="card-title">Kelly Berkstresser</h1>
				<img class="portrait img-responsive float-left" src="../assets/about-body.jpg">
				<p class="card-text ml-1">
					First off, my background may be less traditional than many coaches, which gives me a somewhat different perspective. My career path has been primarily accounting and finance, with a heavy focus on improving operational results.   I’m not a best selling author, motivational speaker, or fortune 500 CEO.  I’m certainly not an awe-inspiring genius who’s figured out the secret to success and wants to share it with you.  Or sell it to you.<br><br>
					But I do have a lot experience working with and leading diverse teams across many business functions, cultures, and countries.  And I’ve seen the importance of knowing and utilizing everyone’s unique skillsets to make a high performing team.  And the impact of not doing so.<br><br>
					I also believe that everyone is capable of achieving a productive, satisfying career and life.  One of the core tenets of coaching as defined in <a href="https://www.amazon.com/Co-Active-Coaching-Changing-Business-Transforming/dp/1857885678" target="_blank">Co-Active Coaching</a> is that people are naturally creative, resourceful, and whole. It is my job as a coach to help bring that out.<br><br>
					To be honest, I decided to get into coaching when I realized how much I could have benefited from it myself years ago.  How I kept trying to balance career and family and kept swinging between extremes.  How I was sometimes missing fulfilment in my career even while successful, not because there was anything wrong with what I was doing, but because I needed something else.  I realized that the concept of seeking this elusive ‘balance’ was flawed to begin with because it assumes a zero sum game, where one area of your life must be lessened to balance the rest.<br><br>
					I became a coach because I hired a coach and was inspired by the insights he helped me find.<br><br>
					I’d experienced coaching before, but not like this. The focus was always on identifying things I needed to ‘work on’, and creating action plans to improve in these areas.  Not fun.<br><br>
					This new coach asked me about my values.  My strengths.  What energizes me.  I realized that the times I’ve been most successful, most productive, and most happy have been when I’ve been in positions that allow me to be in harmony with those goals and strengths.  The reality is that the most successful people concentrate on their strengths rather than ‘working on’ their weaknesses.<br><br>
					I learned that there’s a coaching method that focused on helping others achieve this increased awareness, relying on their own natural creativity and resourcefulness, with a coach leading the process to help them find their own answers.<br><br>
					And I want to help others in the same way.<br><br>
					If there’s a gap between where you are and where you want to be and you think coaching could help, call me and we can discuss.  If I’m not the right fit for you I’d be glad to help connect you with others who might be.
					If you’re just curious about coaching and want to learn more, <a routerLink="/contact">contact me</a> and I’ll be glad to talk.
				</p>
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			</div>
		</div>
	</div>
</div>
