<div class="container-fluid">
	<div class="card">
		<img class="jumbo" src="../assets/about-header.jpg">
		<div class="card-body">
			<div class="card-body">
				<h1 class="card-title">Kelly Berkstresser</h1>
				<img class="portrait img-responsive float-left" src="../assets/about-body.jpg">
				<p class="card-text ml-1">
					First off, my background may be less traditional than many coaches, which gives me a somewhat different perspective. 
					My career path has been primarily accounting and finance, with a heavy focus on improving operational results as a business and strategic partner to senior operational leadership.<br><br>
					I have extensive experience working with and leading diverse teams across many business functions, cultures, and countries. 
					I’ve seen the importance of knowing and utilizing everyone’s unique skillsets to make a high performing team and the impact of not doing so.<br><br>
					I also believe that everyone is capable of achieving a productive, satisfying career and life. One of the core tenets of coaching as defined in 
					<a href="https://www.amazon.com/Co-Active-Coaching-Changing-Business-Transforming/dp/1857885678" target="_blank">Co-Active Coaching</a> is that people are naturally creative, resourceful, and whole. It is my job as a coach to help bring that out.<br><br>
					For yourself as well as your organization – success comes from developing your strengths rather than working on your weaknesses. I can help you identify your talents and develop them into strengths.<br><br>
					How do you know if coaching can help you, or if your business could benefit from strategic and financial expertise? Simple -- if there’s a gap between where you are and where you want to be, call me and we can discuss. 
					If I’m not the right fit for you, I’d be glad to help connect you with others who might be. If you’re just curious about coaching and want to learn more, <a routerLink="/contact">contact me</a> and I’ll answer all of your questions.
				</p>
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			</div>
		</div>
	</div>
</div>
