<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="pane-1">
          <div class="box">
            <div class="col-12">
              <h3 class="text-justify mt-2 sub-header">KWB Talent LLC offers accounting and finance recruiting, with a goal of matching clients with candidates that fit for long term success. I have an arrangement with an established, successful staffing firm that shares my values about the importance of helping you find the right fit. While they will assist, rest assured anyone I submit to you will first be subject to my rigorous screening.</h3>
            </div>
            &nbsp;
            <div class="col-12">
              <h3 class="text-justify mt-2 sub-header">I’m passionate about adding value and finding candidates that can hit the ground running but also be successful long term, and I plan to devote all my attention to a small number of clients in a way that larger firms simply can’t.</h3>
            </div>
            &nbsp;
            <div class="col-12">
              <h3 class="text-justify mt-2 sub-header">As a former finance leader and hiring manager, I offer a perspective most recruiters don’t have:  I understand your needs – beyond the job description. Most recruiters can find the tangible skills from the job description. I take that a step further by identifying the intangible attributes that are crucial to ensure high engagement and performance for your role.</h3>
            </div>
            &nbsp;
            <div class="col-12">
              <h3 class="text-justify mt-2 sub-header">How?  Because for most of my career I’ve been YOU – the hiring manager! I will be an extension of you during the search process.</h3>
            </div>
            &nbsp;
            <div class="col-12">
              <h3 class="text-justify mt-2 sub-header">Contact me at kberks@kwbtalent.com </h3>
            </div>
          </div>
				</div>
			</div>
			<!-- <div class="pane-2">
        <div class="box-2">
          <div class="col-12">
            <h1 class="text-center mt-2 sub-header">Services:</h1>
          </div>
          <div class="col-12">
            <h3 class="text-center mt-2 sub-header">Strategy</h3>
          </div>
          <div class="col-12">
            <h3 class="text-center mt-2 sub-header">Business Plan</h3>
          </div>
          <div class="col-12 text-center">
            <h3 class="text-center mt-2 sub-header">Metrics</h3>
          </div>
          <div class="col-12">
            <h3 class="text-center mt-2 sub-header">Communication with banks & investors</h3>
          </div>
          <div class="col-12">
            <h3 class="text-center mt-2 sub-header">Business process improvement</h3>
          </div>
          <div class="col-12">
            <h3 class="text-center mt-2 sub-header">M&A</h3>
          </div><div class="col-12">
            <h3 class="text-center mt-2 sub-header">Coaching existing finance team</h3>
          </div>
        </div>
			</div> -->
		</div>
	</div>
</div>

