<div class="container-fluid">
	<div class="card">
		<div class="card-title mt-3">
			<h1 class="text-center">Frequently Asked Questions(FAQs)</h1>
		</div>
		<div class="card-body">
			<p><strong>Q:</strong> What is coaching?</p>
			<p><strong>A:</strong> “Coaching is a thought-provoking and creative process that inspires people to maximize their personal and professional potential.”  -International Coaching Federation.</p>
			<hr>
			<p><strong>Q:</strong> What coaching standards do you adhere to?</p>
			<p><strong>A:</strong> I utilize the International Coaching Foundation standards which can be found <a href="https://coachfederation.org/code-of-ethics" target="_blank">here</a></p>
			<hr>
			<p><strong>Q:</strong> What does coaching accomplish?</p>
			<p><strong>A:</strong> Coaching can help you bridge the gaps between where you are and where you want to be. The process is designed to heighten your awareness and gain new perspective.</p>
			<hr>
			<p><strong>Q:</strong> How can coaching benefit my organization?</p>
			<p><strong>A:</strong> Improve retention by providing coaching for professional and personal development. Helping your leaders to continuously grow improves engagement and productivity throughout your organization.</p>
			<hr>
			<p><strong>Q:</strong> How do I learn more?</p>
			<p><strong>A:</strong> Call me at (214) 802-7504 or email me at <a href="mailto:kelly@ascentcoaching.io">kelly@ascentcoaching.io</a>.</p>
		</div>
	</div>
</div>
