<div class="container-fluid">
	<div class="card">
		<div class="card-title">
			<h1 class="text-center">How Do I Coach?</h1>
		</div>
		<div class="card-body">
			<img class="portrait img-responsive float-right" src="../assets/services.jpg">
			<p class="card-text">
				I follow a proven coaching process developed by the International Coaching Federation (ICF), with training provided by the Professional Christian Coaching Institute (PCCI). The beauty of this process is that it does not require me to be an expert on your business or profession.  You are, and the answers are within you.  My job is to lead you through a process of discovery resulting in enhanced awareness and clarity of purpose.
			</p>
			<p class="card-text">
				If you’d like to know more, please check out ICF at <a href="https://coachfederation.org" target="_blank">Coach Federation</a> and PCCI at <a href="https://professionalchristiancoaching.com" target="_blank">Professional Christian Coaching</a>.
			</p>
			<img class="img-responsive logo" src="../assets/icf-logo.jpg">
			<img class="ml-2 img-responsive logo" src="../assets/pcci-logo.png">
		</div>
	</div>
</div>
