<div class="container-fluid">
	<div class="card">
		<div class="card-title">
			<h1 class="text-center mt-5">How Do I Coach?</h1>
		</div>
		<div class="card-body">
			<img class="portrait img-responsive float-right" src="../assets/services.jpg">
			<p class="card-text">
				I follow a proven coaching process developed by the International Coaching Federation (ICF), with training provided by the Professional Christian Coaching Institute (PCCI). The beauty of this process is that it does not require me to be an expert on your business or profession.  You are, and the answers are within you.  My job is to lead you through a process of discovery resulting in enhanced awareness and clarity of purpose.
			</p>
			<p class="card-text">
				As a Strength Champion Certified Coach I also offer strength based coaching, utilizing the Clifton Strengthfinder Assessment.
			</p>
			<p class="card-text">
				If you’d like to know more, please check out ICF at <a href="https://coachfederation.org" target="_blank">Coach Federation</a> and PCCI at <a href="https://professionalchristiancoaching.com" target="_blank">Professional Christian Coaching</a>.
			</p>
			<div class="col-12">
				<img class="img-responsive logo col-4" src="../assets/icf-logo.jpg">
				<img class="img-responsive logo col-4" src="../assets/pcci-logo.png">
				<img class="img-responsive logo col-4" src="../assets/sc_logo.png">
			</div>
		</div>
	</div>
</div>
